<div class="authorization-view">
    <mat-form-field>
        <mat-select placeholder="Для пользователя" [(ngModel)]="mail.toUserId">
            <mat-option *ngFor="let user of users" [value]="user.id">
                {{ user.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="От кого" [(ngModel)]="mail.fromUserId">
            <mat-option *ngFor="let user of users" [value]="user.id">
                {{ user.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Сообщение</mat-label>
        <input matInput [(ngModel)]="mail.message" placeholder="Сообщение" />
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="accent" title="Отправить запрос Get" (click)="addMail()">Добавить
            сообщение</button>
    </div>
</div>