<div class="authorization-view">
    <mat-form-field class="example-full-width">
        <mat-label>Логин</mat-label>
        <input matInput [(ngModel)]="login" placeholder="Логин">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Пароль</mat-label>
        <input matInput [(ngModel)]="password" placeholder="Пароль" />
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="accent" title="Отправить запрос Get" (click)="getUser()">Авторизация</button>
    </div>
</div>
<hr />
<mat-tab-group class="mat-tab-view" *ngIf="Islogged">
    <mat-tab label="Информация о пользователе" class="mat-tab-content">
        <main-user-view [user]="user"></main-user-view>
    </mat-tab>
    <mat-tab label="Сообщения" class="mat-tab-content">
        <messages [user]="user"></messages>
    </mat-tab>
    <mat-tab *ngIf="user?.isadmin == true" label="Таблица пользователей" class="mat-tab-content">
        <all-users></all-users>
    </mat-tab>
</mat-tab-group>