.table-view {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
}

.table-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: 16px;
}

.buttons-view{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 4px
}